src/main/mule/gitproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9ff3888b-a003-4f50-8371-e35318870914" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitprojectFlow" doc:id="0853ab48-548f-4f4e-b620-2298d434b401" >
		<http:listener doc:name="Listener" doc:id="5bf061b8-9f2b-4ad8-847a-2470bc7ce376" config-ref="HTTP_Listener_config" path="/github"/>
		<set-payload value="#['hello Mr. git']" doc:name="Set Payload" doc:id="c93d8750-fc9c-4571-a15a-09a10991578e" />
		<logger level="INFO" doc:name="Logger" doc:id="0b7cf8ad-2f22-4bbb-99c5-eed38edfd8d4" message="#[payload]"/>
	</flow>
</mule>
